@model Poslovi

@{
  ViewBag.Title = "Novi posao";
}

<h2>Unos novog posla</h2>
<form asp-action="Create" method="post">
  <div asp-validation-summary="All"></div>
  <div class="form-group">
    <label asp-for="Naziv"></label>
    <div><span asp-validation-for="Naziv" class="text-danger" /></div>
    <input asp-for="Naziv" class="form-control" />
  </div>
  <div class="form-group">
    <label asp-for="Mjesto"></label>
    <div><span asp-validation-for="Mjesto" class="text-danger" /></div>
    <input  asp-for="Mjesto" class="form-control" />
  </div>
  <div class="form-group">
    <label asp-for="IdNatje훾aji"></label>
    <select class="form-control" asp-for="IdNatje훾aji" asp-items="ViewBag.Natje훾aji">
      <option disabled selected value="">Odaberite natje훾aj</option>
    </select>
  </div>
  <div class="form-group">
    <label asp-for="IdUsluge"></label>
    <select class="form-control" asp-for="IdUsluge" asp-items="ViewBag.Usluge">
    <option disabled selected value=""> Odaberite uslugu </option>
    </select>
  </div>
  <div class="form-group">
    <label asp-for="VrijemeTrajanja"></label>
    <div><span asp-validation-for="VrijemeTrajanja" class="text-danger" /></div>
    <input asp-for="VrijemeTrajanja" class="form-control" />
  </div>
  <div class="text-center">
    <button class="btn btn-primary" type="submit">Dodaj</button>
    <a asp-action="Index" class="btn btn-secondary">Odustani</a>
  </div>
</form>
