
@{
  ViewData["Title"] = "PoslovniIzvjestaji";
}

<ul>
  <li>
    <a target="_blank" asp-action="@nameof(OZO.Controllers.ReportController.Poslovi)">Popis nadolazećih poslova</a>
  </li> 
  <li>
    <a target="_blank" asp-action="Oprema">Popis dostupne opreme</a>
  </li> 
  <li>
    <a target="_blank" asp-action="Usluge">Usluge s najvećom cijenom</a>
  </li> 
</ul>
